# HITO INDIVIDUAL 1 : SISTEMAS DE GESTIÓN EMPRESARIAL
## Víctor Sánchez Grande

- Utilizando python descarga un archivo tipo excel con datos estadísticos del INE. Puedes elegir el tema que quieras, pero tiene que tener al menos 30
filas y 100 datos (las columnas deben ser años, meses o días)

In [5]:
# Enlace : https://www.ine.es/jaxiT3/files/t/es/xls/32449.xls?nocab=1

- Carga los datos en una variable y crea un dataset con ellos. Necesitarás el nombre de la hoja y la fila y columna en que están los nombres, también
deberás guardar los datos de las primeras celdas para los títulos de los gráficos (hasta que empiezan las columnas con los años – meses - días) y
luego eliminar esas filas para evitar errores.

In [18]:
import pandas as pd

# Enlace : https://www.ine.es/jaxiT3/files/t/es/xls/32449.xls?nocab=1
excel_file = pd.ExcelFile('resources/file.xlsx')
dataframe = pd.read_excel(excel_file, sheet_name="tabla-32449")
columnas = dataframe.columns

- Si hay celdas sin valor (sd, NaN,…), conviértelos a 0. Comprueba si hay datos que no deberían estar ahí (valores menores que cero sin sentido, texto en
celdas numéricas, o números en celdas de texto). Tendrás que hacer una o varias funciones que lo comprueben.

In [17]:
dataframe = dataframe.fillna(0)
dataframe = dataframe.replace({'..': 0})


def comprobar_valor_celdas():
    columns = columnas.delete(0)
    for c in columns:
        c = str(c)
        for x in dataframe[c]:
            if x < 0:
                dataframe.replace({x: 0})
    print(dataframe)


comprobar_valor_celdas()

                                            Producción     2021       2020  \
0                                           Total CNAE  2134507  2015838.0
1            A Agricultura, ganadería, silvicultura...    60816    60097.0
2            A Agricultura, ganadería, silvicultura...    60816    60097.0
3            01 Agricultura, ganadería, caza y serv...        0    56008.0
4               02 Silvicultura y explotación forestal        0     1708.0
..                                                 ...      ...        ...
786                      96 Otros servicios personales        0     4475.0
787          T Actividades de los hogares como empl...        0        0.0
788          97-98 Actividades de los hogares como ...        0        0.0
789          U Actividades de organizaciones y orga...        0        0.0
790          99 Actividades de organizaciones y org...        0        0.0

          2019       2018       2017       2016       2015       2014  \
0    2241847.0  2156398.0  2061054.0  1953684.0  1922923.0  1870440.0
1      58237.0    60795.0    57537.0    56141.0    54721.0    50213.0
2      58237.0    60795.0    57537.0    56141.0    54721.0    50213.0
3      53857.0    56143.0    52866.0    51439.0    50116.0    45622.0
4       1741.0     1859.0     1834.0     1923.0     1856.0     1752.0
..         ...        ...        ...        ...        ...        ...
786     6752.0     6486.0     6367.0     5913.0     5877.0     5441.0
787        0.0        0.0        0.0        0.0        0.0        0.0
788        0.0        0.0        0.0        0.0        0.0        0.0
789        0.0        0.0        0.0        0.0        0.0        0.0
790        0.0        0.0        0.0        0.0        0.0        0.0

          2013  ...       2004       2003       2002       2001       2000  \
0    1840171.0  ...  1653742.0  1530031.0  1428025.0  1315287.0  1210545.0
1      52048.0  ...    45599.0    45585.0    42855.0    41862.0    39550.0
2      52048.0  ...    45599.0    45585.0    42855.0    41862.0    39550.0
3      47613.0  ...    40902.0    41158.0    38383.0    37580.0    35332.0
4       1740.0  ...     1797.0     1770.0     1734.0     1570.0     1586.0
..         ...  ...        ...        ...        ...        ...        ...
786     5545.0  ...     3773.0     3856.0     3787.0     3813.0     3880.0
787        0.0  ...        0.0        0.0        0.0        0.0        0.0
788        0.0  ...        0.0        0.0        0.0        0.0        0.0
789        0.0  ...        0.0        0.0        0.0        0.0        0.0
790        0.0  ...        0.0        0.0        0.0        0.0        0.0

          1999       1998      1997      1996      1995
0    1085506.0  1000562.0  931603.0  870592.0  815321.0
1      37457.0    37972.0   37150.0   36515.0   31923.0
2      37457.0    37972.0   37150.0   36515.0   31923.0
3      33419.0    34136.0   33588.0   33101.0   28726.0
4       1312.0     1226.0    1043.0     923.0     848.0
..         ...        ...       ...       ...       ...
786     3882.0     3873.0    3826.0    3835.0    3796.0
787        0.0        0.0       0.0       0.0       0.0
788        0.0        0.0       0.0       0.0       0.0
789        0.0        0.0       0.0       0.0       0.0
790        0.0        0.0       0.0       0.0       0.0

[791 rows x 28 columns]